#container {
    display: flex;
    height: 100vh;
    /* El contenedor ocupa toda la altura de la pantalla */
    position: relative;
    /* Para posicionar el cuadro de la lista */
}

#map {
    width: 100%;
    height: 100%;
}

#hospitalList {
    position: absolute;
    /* Posicionar el cuadro sobre el mapa */
    top: 0;
    /* Alinear con la parte superior */
    right: 1cm;
    /* Margen derecho de 1cm */
    width: 25%;
    height: auto;
    /* Ajustar la altura al contenido */
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
}

#hospitalItems {
    list-style: none;
    padding: 0;
}

.hospital-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Estilos para el interruptor (toggle) */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}